html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.container p,
.container h1,
.container #variantLegend {
  margin: 0 10px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1,
p {
  margin: 0;
}

h1 {
  font-weight: normal;
}

hr {
  border-bottom: none;
  border-width: 2px;
  width: 95%;
}

svg {
  height: 400px;
  max-width: 600px;
  align-self: center;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

#vacEmbed,
#varEmbed,
#ucsbEmbed {
  margin: 0 15px;
  word-wrap: break-word;
}

.elab {
  align-self: flex-start;
  margin-left: 15px;
}
